.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
