.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 51px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: 361px;
  column-gap: 17px;
  row-gap: 20px;
}
@media screen and (max-width: 920px) {
  .elements {
    width: 88.125%;
  }
}
@media screen and (max-width: 724px) {
  .elements {
    padding-top: 36px;
  }
}
