.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  background: transparent;
  background-image: url(../../../images/addButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 724px) {
  .profile__add-button {
    width: 50%;
    margin-top: 36px;
  }
@media screen and (max-width: 470px) {
    .profile__add-button {
      width: 60%;
      margin-top: 22px;
      background-size: 16px;
    }
  }
}
@media screen and (max-width: 400px) {
  .profile__add-button {
    width: 88.125%;
  }
}
