.popup__save-button {
  border-style: none;
  width: 100%;
  height: 50.15px;
  margin-top: 48px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.popup__save-button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 660px) {
  .popup__save-button {
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
