@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__card/profile__card.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__info-description/profile__info-description.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__caption-title/element__caption-title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
