.profile__info-name {
  max-width: 294px;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 920px) {
  .profile__info-name {
    font-size: 36px;
  }
}
@media screen and (max-width: 500px) {
  .profile__info-name {
    font-size: 27px;
    line-height: 33px;
  }
}
