.element__like-count {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  width: 22px;
  margin-top: 3px;
  color: #000000;
}
