.profile__info-description {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  grid-column-start: 1;
  grid-column-end: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: flex-start;
}
@media screen and (max-width: 920px) {
  .profile__info-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 470px) {
  .profile__info-description {
    font-size: 14px;
    padding-left: 9%;
  }
}
