.popup__closeButton {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-image: url(../../../images/closeIcon.svg);
  object-fit: contain;
  background-color: #000;
  position: absolute;
  top: -40px;
  right: -40px;
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.popup__closeButton:hover {
  opacity: 0.6;
}
