.popup__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
}
@media screen and (max-width: 660px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 45px;
  }
}
