.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, .7);
}
@media screen and (max-width: 470px) {
  .header {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 31px;
  }
}
